@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: poppins;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --Primary: #CF2D32;
    --Secondary: #86252A;
    --BackgroundPrimary: #151515;
    --Background: #1E1E1E;
}

body{
    background: var(--BackgroundPrimary);
}

.hero{
    width: 100%;
    height: 100vh;
    max-width: 100%;
    background-color: var(--Background);
    background-image: url(../items/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/* Navbar */
.hero nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    padding: 18px 50px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

nav .logo{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

nav .links{
    width: auto;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a{
    color: white;
    padding: 6px 25px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
}

.active{
    background-color: var(--Primary);
}

.inac:hover{
    background-color: #1e1e1e;
}

nav i{
    position: absolute;
    right: 30px;
    color: white;
    padding: 13px 17px;
    background-color: var(--Secondary);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px var(--Secondary);
    font-size: 1.5rem;
    font-weight: 600;
    visibility: hidden;
}

/* Shorted Navbar */
.short{
    position: fixed;
    width: 80%;
    height: 100vh;
    padding: 40px 15px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.5s ease-in-out;
    transform: translateX(3000px);
    z-index: 110;
}

.short .top{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top i{
    color: white;
    padding: 13px 17px;
    background-color: var(--Secondary);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px var(--Secondary);
    font-size: 1.5rem;
    font-weight: 600;
}

.top .logo{
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

.short .bot{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bot .links{
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.bot .links a{
    width: 100%;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    text-align: left;
    letter-spacing: 1px;
}

.hero img{
    position: absolute;
    width: 100%;
    height: auto;
    max-width: 100%;
}

@media (max-width: 800px) {
    nav i{
        visibility: visible;
    }    

    nav .links,
    nav .logo{
        visibility: hidden;
    }    
}    

/* Hero Content Section */
.wraper{
    width: 100%;
    height: 100vh;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}    

.wraper h1{
    color: var(--Primary);
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1;
}

.wraper p{
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.2;
    text-transform: capitalize;
}

@media (max-width: 800px) {
    .wraper h1{
        font-size: 3.5rem;
    }
    
    .wraper p{
        font-size: 1.3rem;
    }
}

/* About */
.about{
    width: 100%;
    height: auto;
    padding: 20px 30px;
    background-color: var(--BackgroundPrimary);
    gap: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about .aboutcon{
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-bottom: 50px;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutcon img{
    width: 30%;
    height: 80%;
    max-width: 100%;
    border-radius: 40px;
    object-fit: cover;
    box-shadow: 0px 0px 15px 5px var(--Primary);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.aboutcon .profile{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile .protle{
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.protle h2{
    width: 100%;
    height: auto;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
    letter-spacing: 1px;
    line-height: 1.3;
}

.protle h1{
    width: 100%;
    height: auto;
    background: linear-gradient(-180deg, #CF2D32, #86252A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 800;
    text-align: left;
    letter-spacing: 1px;
    line-height: 1.3;
}

.protle .typewriter{
    width: 100%;
    text-align: left;
}

.protle .typewriter-text{
    font-size: 2rem;
    font-weight: 600;
    color: white;
    letter-spacing: 1px;
}

.protle .typewriter label {
    font-size: 2rem;
}

.protle label{
    color: white;
    font-weight: 700;
}

.profile p{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    letter-spacing: 1.2px;
}

@media (max-width: 800px) {
    .aboutcon{
        flex-direction: column;
    }
    
    .aboutcon img{
        width: 80%;
        height: 30vh;
        object-fit: cover;
        object-position: top;
    }
    
    .aboutcon .profile{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .protle h2{
        font-size: 1.5rem;
        text-align: center;
    }
    
    .protle h1{
        font-size: 2.5em;
        text-align: center;
    }
    
    .protle .typewriter{
        text-align: center;
    }
    
    .protle .typewriter-text{
        font-size: 1.5rem;
    }
}

/* Skills */
.skills{
    width: 100%;
    height: auto;
    max-width: 100%;
    padding: 20px 0px;
    background-color: var(--Background);
}

.skills h1{
    width: 100%;
    height: auto;
    color: white;
    margin-bottom: 15px;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
}

.skills .scroller{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.scroller .skillwraper{
    animation: infiniteScroll 15s linear infinite;
    gap: 2.5rem;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.skillwraper:hover {
    animation-play-state: paused;
  }
  
.skill:hover img {
    filter: grayscale(0%);
    transition: filter 0.3s ease;
}

@keyframes infiniteScroll {
    from{
        transform: translateX(80%);
    }

    to{
        transform: translateX(-100%);
    }
}

.skillwraper .skill{
    padding: 15px 30px;
    border-radius: 100px;
    background-color: var(--BackgroundPrimary);
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.skill img{
    width: auto;
    height: 35px;
    max-width: 100%;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.skill h2{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
}

@media (max-width: 800px) {

    @keyframes infiniteScroll {
        from{
            transform: translateX(30%);
        }
    
        to{
            transform: translateX(-100%);
        }
    }   
}

/* Education */
.edu{
    width: 100%;
    height: auto;
    max-width: 100%;
    padding: 30px 0px;
    background-color: var(--BackgroundPrimary);
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Footer */
footer{
    width: 100%;
    height: auto;
    padding: 80px 50px;
    background: var(--Background);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .head{
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.head .nav{
    gap: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .inac{
    color: white;
    padding: 5px 25px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
}

.nav .inac:hover{
    background-color: var(--Background);
}

.nav .active{
    color: white;
    padding: 5px 25px;
    background-color: var(--Primary);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
}

footer .foot{
    width: 100%;
    height: auto;
    gap: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.foot .copy{
    width: 100%;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;
    letter-spacing: 1px;
}

.foot .contact{
    width: 100%;
    height: auto;
    max-width: 100%;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foot .contact p{
    width: 100%;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-align: right;
    letter-spacing: 1px;
}

@media (max-width: 800px) {
    footer .head{
        width: 100%;
        justify-content: center;
    }
    
    .head .nav{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    
    footer .foot{
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .foot .copy{
        font-size: 1rem;
        text-align: center;
    }
    
    .foot .contact{
        gap: 10px;
    }
    
    .foot .contact p{
        font-size: 1rem;
        text-align: center;
    }
}